/* Write your CSS here */
.li-eventItem {
  list-style: none;
  margin: 5px;
}
.li-btn {
  background-color: transparent;
  border: none;
}
.li-img {
  height: 300px;
}
.li-name {
  font-size: 30px;
  font-weight: bold;
  margin: 1px;
}
.li-location {
  margin-top: 2px;
}
